body {

  padding-top: 100px;

}

.titre {

  text-align: center;
  color:#007BFF;
}

.texte {

  font-size: 25px;
}

.belletable {
    color:#007BFF;
    font-style: italic;

}

.logo {

  font-size: 25px;
  font-family: Brush Script MT;
}
.button1 {

  padding-right: 5px;

}
