body {
  padding-top: 100px;
}

label {
  width:110px;
}
.logo {

  font-size: 25px;
  font-family: Brush Script MT;
}
.button1 {

  padding-right: 5px;

}

#DivClignotante {
  font-family: sans-serif;
  color: red;
  font-size: 25px;
}

font {

font-family:sans-serif;
color: red;
font-size: 25px;
}

.erreurchamp {

color: red;
font-size: 25px;
font-family: sans-serif;

}

i {

  color:#007BFF;
}
