body {
  padding-top: 100px;

}

.p1 {

font-size: 15px;
}

.title1 {

  color: #007BFF;
  font-size:40px;

}

.logo {

  font-size: 25px;
  font-family: Brush Script MT;
}


.unecarte {

  background-color: #007BFF

}

.button1 {

  padding-right: 5px;

}

footer {

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343A40;
    color: white;

}
